{% extends 'base_darts.html.twig' %}

{% block stylesheets %}
    <link type="text/css" href="/css/scorin-wizard/new_game.css" rel="stylesheet"/>
    <link type="text/css" href="/css/scorin-wizard/_global.css" rel="stylesheet"/>
{% endblock %}

{% block title %}New Game{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('gameNewApp') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="game-new-app">

        </div>
    </div>
{% endblock %}
