{% extends 'base_darts.html.twig' %}

{% block stylesheets %}
    <link type="text/css" href="/css/scorin-wizard/player.css" rel="stylesheet"/>
    <link type="text/css" href="/css/scorin-wizard/_global.css" rel="stylesheet"/>
{% endblock %}

{% block title %}Player{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('playerApp') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="player-app">

        </div>
    </div>
{% endblock %}
