@media (max-width: 1200px) {
    body {
        /* No scrolling */
        margin: 0;
        height: 100%;
        overflow: hidden;
        background-color: rgb(88, 88, 88);
        padding-top: 56px;
    }
}

@media (min-width: 1200px) {
    body {
        /* No scrolling */
        margin: 0;
        height: 100%;
        overflow: hidden;
        background-color: rgb(88, 88, 88);
        padding-top: 0px;
    }
}

@media (min-width: 992px) {
    body {
        padding-right: 70px;
    }
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

/* Scrolling Text V2 */
.marquee {
    position: relative;
    overflow: hidden;
}

@media (max-width: 400px) {
    .marquee__inner {
        display: inline-block;
        animation: marquee__inner 7s linear infinite alternate;
    }

    .marquee__content {
        animation: marquee__content 7s linear infinite alternate;
        white-space: nowrap;
        color: white;
        padding-top: 0px;
    }
}

@media (min-width: 401px) {
    .marquee__inner {
        display: inline-block;
        animation: marquee__inner 4s linear infinite alternate;
    }

    .marquee__content {
        animation: marquee__content 4s linear infinite alternate;
        white-space: nowrap;
        color: white;
        padding-top: 0px;
    }
}

@keyframes marquee__inner {
    0% { margin-left:0; }
    100% { margin-left: 100%; }
}

@keyframes marquee__content {
    0% { margin-left:0; }
    100% { margin-left:-100%; }
}

.paused {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

/* base.css */
/* Offcanvas Navbar */
#nav-profile .profile img {
    margin: 15px auto;
    display: block;
    width: 200px;
    border: 8px solid #2c2f3f;
}

#nav-profile .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}

#nav-profile .profile h1 a,
#nav-profile .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#nav-profile .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#nav-profile .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
}