@media (max-width: 1200px) {
    body {
        /* No scrolling */
        margin: 0;
        height: 100%;
        overflow: hidden;
        background-color: rgb(88, 88, 88);
        padding-top: 56px;
    }
}

@media (min-width: 1200px) {
    body {
        /* No scrolling */
        margin: 0;
        height: 100%;
        overflow: hidden;
        background-color: rgb(88, 88, 88);
        padding-top: 0px;
    }
}

.custom-btn-number {
    width: 100%;
    height: 55px;
    font-size: 25px;
}

.custom-btn-function {
    width: 100%;
    height: 55px;
    font-size: 25px;
}

.custom-btn-score-row {
    width: 100%;
    height: 55px;
    font-size: 20px;
}

.exceeds-limit {
    background-color: rgb(203,68,74);
    color: white;
}