body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    padding-top: 56px;
}

/* ------------------------------ CARD ------------------------------ */

.card {
    background-color: #3C3C3C;
    /*border: 0.5px solid white; !* Add white border *!*/
}

.card-header {
    background-color: #323232;
}

.list-group-item {
    background-color: #3C3C3C;
}

.h1 {
    color: white;
}

/* ------------------------------ TABLE ------------------------------ */

.table thead th {
    background-color: #3C3C3C;
    color: white;
}

.table tbody td {
    background-color: #3C3C3C;
    color: white;
}

/*
@media (max-width: 1200px) {
    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        padding-top: 56px;
    }
}

@media (min-width: 1200px) {
    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        padding-top: 56px;
    }
}
*/

.info-text {
    color: black;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

/* Scrolling Text V2 */
.marquee {
    position: relative;
    overflow: hidden;
}

@media (max-width: 400px) {
    .marquee__inner {
        display: inline-block;
        animation: marquee__inner 7s linear infinite alternate;
    }

    .marquee__content {
        animation: marquee__content 7s linear infinite alternate;
        white-space: nowrap;
        color: white;
        padding-top: 0px;
    }
}

@media (min-width: 401px) {
    .marquee__inner {
        display: inline-block;
        animation: marquee__inner 4s linear infinite alternate;
    }

    .marquee__content {
        animation: marquee__content 4s linear infinite alternate;
        white-space: nowrap;
        color: white;
        padding-top: 0px;
    }
}

@keyframes marquee__inner {
    0% { margin-left:0; }
    100% { margin-left: 100%; }
}

@keyframes marquee__content {
    0% { margin-left:0; }
    100% { margin-left:-100%; }
}

.paused {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}