@media (max-width: 1200px) {
    body {
        /* No scrolling */
        margin: 0;
        height: 100%;
        overflow: hidden;
        padding-top: 56px;
    }
}

@media (min-width: 1200px) {
    body {
        /* No scrolling */
        margin: 0;
        height: 100%;
        overflow: hidden;
        padding-top: 0px;
    }
}

.info-text {
    color: black;
}

.custom-btn-number {
    background: #343E4C;
    width: 100%;
    height: 55px;
    font-size: 25px;
}

.custom-btn-number:hover {
    background: #1B2130;
    color: white;
}

.custom-btn-number-tablet {
    background: #343E4C;
    width: 100%;
    /*height: 85px;*/
    height: 100px;
    font-size: 35px;
}

.custom-btn-number-tablet-scores {
    background: #29313D;
    width: 100%;
    height: 100px;
    font-size: 35px;
}

.custom-btn-clear {
    background: #FF5E5E;
    border: 0;
    width: 100%;
    height: 55px;
    font-size: 18px;
}

.custom-btn-clear-tablet {
    background: #FF5E5E;
    border: 0;
    width: 100%;
    height: 100px;
    font-size: 25px;
}

.custom-btn-clear:hover {
    background: #FF9999;
    color: white;
}

.custom-btn-ok {
    background: #2CAB73;
    border: 0;
    width: 100%;
    height: 55px;
    font-size: 18px;
}

.custom-btn-ok-tablet {
    background: #2CAB73;
    border: 0;
    width: 100%;
    height: 100px;
    font-size: 25px;
}

.custom-btn-ok:hover {
    background: #4DD198;
    color: white;
}

#scoreInput {
    padding-top: 15px;
    background-color: #29313D;
    height: 55px;
    font-size: 40px;
    color: white;
    border: solid;
    border-width: 2px;
    border-color: white;
}

.exceeds-limit {
    background-color: #FF5E5E !important;
    /*color: red !important;*/
}

.custom-btn-score-row {
    width: 100%;
    height: 55px;
    font-size: 20px;
}

.custom-btn-score-row-tablet {
    width: 100%;
    height: 100px;
    font-size: 25px;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

/* Scrolling Text V2 */
.marquee {
    position: relative;
    overflow: hidden;
}

@media (max-width: 400px) {
    .marquee__inner {
        display: inline-block;
        animation: marquee__inner 7s linear infinite alternate;
    }

    .marquee__content {
        animation: marquee__content 7s linear infinite alternate;
        white-space: nowrap;
        color: white;
        padding-top: 0px;
    }
}

@media (min-width: 401px) {
    .marquee__inner {
        display: inline-block;
        animation: marquee__inner 4s linear infinite alternate;
    }

    .marquee__content {
        animation: marquee__content 4s linear infinite alternate;
        white-space: nowrap;
        color: white;
        padding-top: 0px;
    }
}

@keyframes marquee__inner {
    0% { margin-left:0; }
    100% { margin-left: 100%; }
}

@keyframes marquee__content {
    0% { margin-left:0; }
    100% { margin-left:-100%; }
}

.paused {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}