/* ------------------------------ CARD ------------------------------ */

.card {
    background-color: #3C3D43;
    /*border: 0.5px solid white; !* Add white border *!*/
}

.card-header {
    background-color: #32343A;
}

.list-group-item {
    background-color: #3C3D43;
}



#headline {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter-option-inner-inner {
    color: white;
}

.dropdown-menu li a:focus{
    background-color: #2CAB73 !important;
    color: #fff !important;
}

/*
#custom-btn {
    background: #8CF0FF;
    border: 0;
    color: black;
}

#custom-btn:hover {
    background: #24BCD9;
    color: white;
}
*/

/* Overlay Alert Style */
.overlay-alert {
    position: fixed;
    top: 25px; /* Initial top position */
    right: -110px;
    width: 210px;
    transform: translateX(-50%); /* Center horizontally */
    z-index: 1050;
    animation: slideInAndUp 3s ease-out forwards; /* Animation details */
}

/* Keyframes for the alert animation */
@keyframes slideInAndUp {
    0% {
        transform: translateX(100%); /* Start from the right offscreen */
    }
    10% {
        transform: translateX(-50%); /* Move to the center horizontally */
    }
    90% {
        transform: translateX(-50%); /* Hold in the center */
    }
    100% {
        transform: translateX(-50%) translateY(-150%); /* Move upwards */
    }
}


/* Overlay Alert Style
.overlay-alert {
    position: fixed;
    top: 25px;
    right: -10px;
    width: 210px;
    transform: translate(-50%, 0);
    z-index: 1050;
    animation: slideInAndUp 3s ease-out forwards;
}



@keyframes slideInAndUp {
    0% {
        transform: translate(100%, 0);
    }
    10% {
        transform: translate(0%, 0);
    }
    90% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(0%, -150%);
    }
}
*/