#headline {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter-option-inner-inner {
    color: white;
}

.dropdown-menu li a:focus{
    background-color: #50BE96 !important;
    color: #fff !important;
}

.btn-check:checked + .btn-outline-success {
    background-color: #50BE96;
    color: white;
}

.btn-outline-success {
    background-color: white;
    color: black;
}

.btn-outline-success:hover {
    background-color: #50BE96 !important;
    color: white !important;
}

.btn-outline-success {
    color: black;
    border-color: #50BE96;
}

.btn-success {
    background-color: #50BE96;
    color: white;
}

/*
#custom-btn {
    background: #8CF0FF;
    border: 0;
    color: black;
}

#custom-btn:hover {
    background: #24BCD9;
    color: white;
}
*/

/* Overlay Alert Style */
.overlay-alert {
    position: fixed;
    top: 25px; /* Initial top position, adjust if needed after animation */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, 0); /* Center at the middle top */
    z-index: 1050;
    width: 80%;
    animation: slideInAndUp 3s ease-out forwards; /* Animation duration, easing, and behavior */
}

/* Keyframes for the alert animation */
@keyframes slideInAndUp {
    0% {
        transform: translate(100%, 0); /* Start from the right offscreen */
    }
    10% {
        transform: translate(0%, 0); /* Move to the center horizontally, complete at 2s */
    }
    90% {
        transform: translate(0%, 0); /* Stay in the center for 1s */
    }
    100% {
        transform: translate(0%, -150%); /* Move upwards after the pause */
    }
}