/* ------------------------------ CARD ------------------------------ */

.card {
    background-color: #3C3C3C;
    /*border: 0.5px solid white; !* Add white border *!*/
}

.card-header {
    background-color: #323232;
}

.list-group-item {
    background-color: #3C3C3C;
}

/* ------------------------------ TABLE ------------------------------ */

.table thead th {
    background-color: #3C3C3C;
    color: white;
}

.table tbody td {
    background-color: #3C3C3C;
    color: white;
}



#headline {
    color: white;
    padding-top: 15px;
}

#custom-btn {
    background: #75E7A2;
    border: 0;
    color: black;
}

#custom-btn:hover {
    background: #2CAB73;
    color: white;
}