{% extends 'base_darts.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Mercure{% endblock %}

{% block javascripts %}
    <script>
        const eventSource = new EventSource("http://localhost:3000/.well-known/mercure?topic=https://example.com/books/1");
        eventSource.onmessage = event => {
            console.log(JSON.parse(event.data));
        };

        function publishUpdate() {
            axios.get('/publish')
                .then(response => {
                    console.log("Posted");
                })
                .catch(error => {
                    console.error('Error postings:', error);
                });
        }
    </script>
{% endblock %}

{% block body %}
    <p style="padding-top: 50px">Hallo Welt!</p>

    <button onclick="publishUpdate()">Publish Test</button>
{% endblock %}
