{% extends 'base_darts.html.twig' %}

{% block title %}RDS - Player Management{% endblock %}

{% block stylesheets %}
    <!--
    <link type="text/css" href="/css/player.css" rel="stylesheet"/>
    -->
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('playerApp') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="player-app">

        </div>
    </div>
{% endblock %}
