{% extends 'base_darts.html.twig' %}

{% block stylesheets %}
    <link type="text/css" href="/css/match.css" rel="stylesheet"/>
{% endblock %}

{% block title %}Game{% endblock %}

{% block body %}
    <div class="container vh-100">
        <!-- Player and score row -->

        <div class="row px-1">
            <div class="col p-1">
                <div id="game-header" class="card" style="padding: 5px; background-color: lightgray">
                    <div class="row px-1">
                        <div class="col-2 text-center p-0">
                            <strong>ID: 5602</strong>
                        </div>
                        <div class="col-3 text-center p-0">
                            Double Out
                        </div>
                        <div class="col-3 text-center p-0">
                            FirstToSets
                        </div>
                        <div class="col-2 text-center p-0">
                             Set: 3
                        </div>
                        <div class="col-2 text-center p-0">
                            Legs: 3
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row px-1">

            <div class="col p-1">
                <div id="player-1" class="card border-light border-5">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-7 p-0">
                                <h5>Lukas</h5>
                            </div>
                            <div class="col-5 text-end p-0">
                                <p>
                                    18
                                    <img src="homepage/assets/img/dart-arrow-24px.png" alt="">
                                </p>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col" style="padding-right: 0px;">
                                    <h1 style="font-size: 45px;">90</h1>
                                </div>
                                <div class="col text-end" style="padding-left: 0px;">

                                    <div class="row">
                                        <div class="col">
                                            <p class="m-0" style="font-size: 12px">T18 D18</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="m-0" style="font-size: 12px">D20 D15</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="m-0" style="font-size: 12px">BULL T20</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li class="list-group-item">
                            <h1 style="font-size: 15px">Last: 180</h1>
                            <h1 style="font-size: 15px">Average: 48.9</h1>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col text-center p-0">
                                    Sets: 0
                                </div>
                                <div class="col text-center p-0">
                                    Legs: 1
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col p-1">
                <div id="player-2" class="card border-warning border-5">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-7 p-0">
                                <h5>Florian</h5>
                            </div>
                            <div class="col-5 text-end p-0">
                                <p>
                                    15
                                    <img src="homepage/assets/img/dart-arrow-24px.png" alt="">
                                </p>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col" style="padding-right: 0px;">
                                    <h1 style="font-size: 45px; color: red;">179</h1>
                                </div>

                                <div class="col text-end" style="padding-left: 0px; display: none">
                                    <div class="row">
                                        <div class="col">
                                            <p class="m-0" style="font-size: 12px">T18 D18</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="m-0" style="font-size: 12px">D20 D15</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="m-0" style="font-size: 12px">BULL T20</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="list-group-item">
                            <h1 style="font-size: 15px">Last: 80</h1>
                            <h1 style="font-size: 15px">Average: 62.5</h1>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col text-center p-0">
                                    Sets: 0
                                </div>
                                <div class="col text-center p-0">
                                    Legs: 0
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Numberpad row -->

        <div class="row px-1">
            <div class="col p-1">
                <button type="button" class="btn btn-light custom-btn-score-row">Undo</button>
            </div>
            <div class="col p-1">
                <input id="scoreInput" class="form-control text-center" style="height: 55px; font-size: 25px" type="text" aria-label=".form-control-lg example" readonly>
            </div>
            <div class="col p-1">
                <button type="button" class="btn btn-light custom-btn-score-row">Rest</button>
            </div>
        </div>

        <div class="px-1">
            <div class="row">
                <div class="col p-1">
                    <button id="btn-1" type="button" class="btn btn-dark custom-btn-number">1</button>
                </div>
                <div class="col p-1">
                    <button id="btn-2" type="button" class="btn btn-dark custom-btn-number">2</button>
                </div>
                <div class="col p-1">
                    <button id="btn-3" type="button" class="btn btn-dark custom-btn-number">3</button>
                </div>
            </div>
            <div class="row">
                <div class="col p-1">
                    <button id="btn-4" type="button" class="btn btn-dark custom-btn-number">4</button>
                </div>
                <div class="col p-1">
                    <button id="btn-5" type="button" class="btn btn-dark custom-btn-number">5</button>
                </div>
                <div class="col p-1">
                    <button id="btn-6" type="button" class="btn btn-dark custom-btn-number">6</button>
                </div>
            </div>
            <div class="row">
                <div class="col p-1">
                    <button id="btn-7" type="button" class="btn btn-dark custom-btn-number">7</button>
                </div>
                <div class="col p-1">
                    <button id="btn-8" type="button" class="btn btn-dark custom-btn-number">8</button>
                </div>
                <div class="col p-1">
                    <button id="btn-9" type="button" class="btn btn-dark custom-btn-number">9</button>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col p-1">
                    <button id="btn-clr" type="button" class="btn btn-danger custom-btn-function">CLR</button>
                </div>
                <div class="col p-1">
                    <button id="btn-0" type="button" class="btn btn-dark custom-btn-number">0</button>
                </div>
                <div class="col p-1">
                    <button id="btn-ok" type="button" class="btn btn-success custom-btn-function">OK</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/match.js"></script>
{% endblock %}
