{% extends 'base_home.html.twig' %}

{% block stylesheets %}
    <link type="text/css" href="/css/login.css" rel="stylesheet"/>
{% endblock %}

{% block title %}RDS - Login{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('loginApp') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="login-app">

        </div>
    </div>
{% endblock %}
