#headline {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter-option-inner-inner {
    color: white;
}

.dropdown-menu li a:focus{
    background-color: #50BE96 !important;
    color: #fff !important;
}

.btn-check:checked + .btn-outline-success {
    background-color: #50BE96;
    color: white;
}

.btn-outline-success {
    background-color: white;
    color: black;
}

.btn-outline-success:hover {
    background-color: white !important;
    color: black !important;
}

.btn-outline-success {
    color: black;
    border-color: #50BE96;
}

.btn-success {
    background-color: #50BE96;
    color: white;
}

/*
#custom-btn {
    background: #8CF0FF;
    border: 0;
    color: black;
}

#custom-btn:hover {
    background: #24BCD9;
    color: white;
}
*/
