{% extends 'base_darts.html.twig' %}

{% block stylesheets %}
    <link type="text/css" href="/css/settings.css" rel="stylesheet"/>
{% endblock %}

{% block title %}RDS - Profile{% endblock %}

{% block body %}
    <p>TODO</p>
{% endblock %}
