{% extends 'base_darts.html.twig' %}

{% block stylesheets %}
    <link type="text/css" href="/css/scorin-wizard/user.css" rel="stylesheet"/>
    <link type="text/css" href="/css/scorin-wizard/global.css" rel="stylesheet"/>
{% endblock %}

{% block title %}User{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('userApp') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="user-app">

        </div>
    </div>
{% endblock %}
